<div class="row game-container">
  <div class="col-md-4">
    <div>
      <label for="input-bet">Mise</label>
      <input ng-model="bet" type="number" min="1" class="form-control" id="input-bet" placeholder=""
             ng-disabled="isDealDone()"/>
      <button ng-click="reset()" type="submit" class="btn btn-default" ng-disabled="isDealDone()">Reset</button>

      <div class="btn_actions">
        <button ng-click="deal()" class="btn btn-default"  ng-disabled="isDealDone()">Deal</button>
      </div>
      <div class="btn_actions">
        <button ng-click="getCardTest()" class="btn btn-default" ng-disabled="!isDealDone()">Get card</button>
      </div>
    </div>
  </div>
  <div class="col-md-8 mat">
    <div class="row">
      <div class="col-md-12">
        <h1>Dealer cards</h1>
        <div ng-include="'views/card.html'" ng-repeat="card in dealerCards"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 player-cards">
         <h1>Your cards</h1>
         <div ng-include="'views/card.html'" ng-repeat="card in playerCards"></div>
      </div>
    </div>
  </div>
</div>
